[submodule "toolkits/SciAgent-toolkit"]
	path = toolkits/SciAgent-toolkit
	url = git@github.com:tony-zhelonkin/SciAgent-toolkit.git
	branch = dev
[submodule "toolkits/refcache"]
	path = toolkits/refcache
	url = git@github.com:tony-zhelonkin/refcache.git
	branch = main
