[submodule "toolkits/scio"]
	path = toolkits/scio
	url = git@github.com:tony-zhelonkin/scio.git
	branch = dev
[submodule "toolkits/refcache"]
	path = toolkits/refcache
	url = git@github.com:tony-zhelonkin/refcache.git
	branch = main
